html body {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 13px;
}

#top_pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    color: white;
    background-color: black;
    padding-right: 10px;
    text-align: right;
}

#top_pane a {
    color: white;
    text-decoration: none;
}

#top_pane a:hover {
    text-decoration: underline;
}

#left_pane {
    position: absolute;
    top: 20px;
    left: 0;
    width: 220px;
    bottom: 0;
    border-right: 1px solid black;
    background-color: #DDEEFF;
}

#right_pane {
    margin-left: 260px;
    margin-top: 40px;
    background-color: white;
}


#node_list {
    position: relative;
}

#node_list p {
    font-style: italic;
    padding-left: 10px;
    padding-top: 20px;
}

#node_list .node {
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    height: 60px;
    background-color: #EEEEEE;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#node_list .selected {
    background-color: #CCFFCC;
}

#node_list .node:hover {
    background-color: white;
}

#node_list .node:nth-of-type(1) {
    border-top: 1px solid black;
}

#node_list .node .title {
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#node_list .node .label {
    display: inline-block;
    width: 50px;
    text-align: right;
}

#node_list .node .MAC {
    margin-top: -2px;
}

#node_list .node .MAC .label {
    color: black;
    font-size: 10px;
}

#node_list .node .MAC .text {
    color: gray;
    font-size: 10px;
}


#node_list .node .status {
    margin-top: -4px;
}

#node_list .node .status .label {
    color: black;
    font-size: 10px;
}

#node_list .node .status .text {
    color: gray;
    font-size: 10px;
}

#node_list .node .status .modified {
    color: red;
}

#node_list .node .status .configuring {
    color: yellow;
}

#node_list .node .status .configured {
    color: green;
}

#flash {
    color: red;
    font-size: 14px;
}