{
        "utils": {
                "mdnssd_min": "/usr/local/bin/mdnssd-min"
        },
        "client": {
                "download_path": "/tmp",
                "ssl_root_cert": "certs/ca_root.crt",
                "service_type": "_nodeconf._tcp.local"
        },
        "server": {
                "wordlist": "config/wordlist_simple",
                "db_host": "localhost:3000",
                "configure_cmd": "opkg --force-overwrite install <file>",
                "post_configure_cmd": "echo \"not actually rebooting\"",
                "service_type": "_nodeconf._tcp",
                "hostname": "192.168.222.1",
                "port": "1337",
                "web_hostname": "192.168.222.1",
                "web_port": "8080",
                "protocol": "https",
                "websocket_path": "/websocket",
                "config_post_path": "/configure",
                "get_ssid_path": "/get-ssid"
        }
}
