<html>
  <head>
    <title>Node Config</title>
  
    <!-- mass-produced css from the interwebs -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
 
    <!-- sweet homebrewed css. mmm... -->
    <link href="/static/css/config.css" rel="stylesheet">
   
    <!-- mass-produced js from the intertubes -->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>

    <!-- js from local heroes! -->
    <script type="text/javascript" src="/static/js/config.js"></script>

    <!-- javascript templates -->
    <script id="node_template" type="template/html">
        <div id="<%= id %>" class="node">
          <div class="title"><%- title %></div>
          <div class="MAC"><span class="label">MAC:</span> <span class="text"><%- mac %></span></div>
          <div class="status"><span class="label">Status:</span> <span class="text"><%- status %></span></div>
        </div>
    </script>
  </head>
  <body>
      
    <div id="top_pane">
      <a href="https://github.com/sudomesh/node-configurator">sudomesh.org node configurator v0.0.1</a>
    </div>

    <div id="left_pane">
      <div id="node_list">
        <p>No nodes connected.</p>
        <!-- nodes go here -->
      </div>
    </div>      
    <div id="right_pane">
      <div id="node_details">
        <form id="node_detail_form">
          Location: <input type="text" name="node_location"><br>
          Op name:  <input type="text" name="op_name"><br>
          Op email: <input type="text" name="op_email"><br>
          Op phone: <input type="text" name="op_phone"><br>
          <input type="button" id="node_detail_form_button" value="Configure node">
        </form>
      </div>
      
      <div id="firmware_selector">
        Firmware image: <input type="file"   id="firmware_input"><br>
        <input type="button" id="firmware_update_button" value="Flash node">
      </div>
      
    </div>
  </body>
</html>
