<html>
  <head>
    <title>Node Config</title>
  
    <!-- mass-produced css from the interwebs -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
 
    <!-- sweet homebrewed css. mmm... -->
    <link href="/static/css/config.css" rel="stylesheet">

    <!-- mass-produced js from the intertubes -->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
   <script type="text/javascript" src="/static/js/modernizr.js"></script>
   <script type="text/javascript" src="/static/js/qrcode.js"></script>

    <!-- app-specific js -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/stickerGenerator.js"></script>

    <!-- javascript templates -->
    <script id="node_template" type="template/html">
        <div id="<%= id %>" class="node">
          <div class="title"><%- title %></div>
          <div class="MAC"><span class="label">MAC:</span> <span class="text"><%- mac_addr %></span></div>
          <div class="status"><span class="label">Status:</span> <span class="text"><%- status %></span></div>
        </div>
    </script>

    <script id="node_form_template" type="template/html">
      <div id="flash"></div>
      <div class="node_info">
        <canvas id="stickerPreview" width="112" height="291"></canvas>
        <h2><%- title %></h2>
        <h3>MAC: <%- mac_addr %></h3>
        <h3>Hardware manufacturer: <%- mac_org %></h3>
        <form class="node_info_form">
          <input type="hidden" name="mac_addr" value="<%- mac_addr %>">
          Location: <input type="text" name="location" value="<%- conf.location %>"><br>
          Operator name:  <input type="text" name="operator_name" value="<%- conf.operator_name %>"><br>
          Operator email: <input type="text" name="operator_email" value="<%- conf.operator_email %>"><br>
          Operator phone: <input type="text" name="operator_phone" value="<%- conf.operator_phone %>"><br>

          Download bandwidth limit: 
          <select name="downstream_bw_limit">
            <option value="0" <% if(conf.downstream_bw_limit=='0') {%>selected<%} %>>No sharing</option>
            <option value="1024" <% if(conf.downstream_bw_limit=='1024') {%>selected<%} %>>1 Mbit/sec</option>
            <option value="2048" <% if(conf.downstream_bw_limit=='2048') {%>selected<%} %>>2 Mbit/sec</option>
            <option value="3072" <% if(conf.downstream_bw_limit=='3072') {%>selected<%} %>>3 Mbit/sec</option>
            <option value="4096" <% if(conf.downstream_bw_limit=='4096') {%>selected<%} %>>4 Mbit/sec</option>
            <option value="6144" <% if(conf.downstream_bw_limit=='6144') {%>selected<%} %>>6 Mbit/sec</option>
            <option value="8192" <% if(conf.downstream_bw_limit=='8192') {%>selected<%} %>>8 Mbit/sec</option>
            <option value="16384" <% if(conf.downstream_bw_limit=='16384') {%>selected<%} %>>16 Mbit/sec</option>
            <option value="32768" <% if(conf.downstream_bw_limit=='32768') {%>selected<%} %>>32 Mbit/sec</option>
            <option value="65536" <% if(conf.downstream_bw_limit=='65536') {%>selected<%} %>>64 Mbit/sec</option>
          </select>
          <br>

          Upload bandwidth limit: 
          <select name="upstream_bw_limit">
            <option value="0" <% if(conf.upstream_bw_limit=='0') {%>selected<%} %>>No sharing</option>
            <option value="512" <% if(conf.upstream_bw_limit=='512') {%>selected<%} %>>0.5 Mbit/sec</option>
            <option value="1024" <% if(conf.upstream_bw_limit=='1024') {%>selected<%} %>>1 Mbit/sec</option>
            <option value="2048" <% if(conf.upstream_bw_limit=='2048') {%>selected<%} %>>2 Mbit/sec</option>
            <option value="3072" <% if(conf.upstream_bw_limit=='3072') {%>selected<%} %>>3 Mbit/sec</option>
            <option value="4096" <% if(conf.upstream_bw_limit=='4096') {%>selected<%} %>>4 Mbit/sec</option>
            <option value="6144" <% if(conf.upstream_bw_limit=='6144') {%>selected<%} %>>6 Mbit/sec</option>
            <option value="8192" <% if(conf.upstream_bw_limit=='8192') {%>selected<%} %>>8 Mbit/sec</option>
            <option value="16384" <% if(conf.upstream_bw_limit=='16384') {%>selected<%} %>>16 Mbit/sec</option>
            <option value="32768" <% if(conf.upstream_bw_limit=='32768') {%>selected<%} %>>32 Mbit/sec</option>
            <option value="65536" <% if(conf.upstream_bw_limit=='65536') {%>selected<%} %>>64 Mbit/sec</option>
          </select>
          <br>

          Private wifi SSID: <input id="private_wifi_ssid" type="text" name="private_wifi_ssid" value="<%- conf.private_wifi_ssid %>"> (e.g: Milliways) <button id="btn_gen_ssid">Generate</button><br>

          Additional contact info: <textarea rows="5" cols="20" name="additional_contact_info"></textarea><br>


          <div id="loading" style="display:none">
            <p>Sending node configuration. Please stand by.</p>
            <img src="/static/media/loading.gif" />
          </div>
          
          <input type="submit" id="node_detail_form_button" value="Configure node">  - <button id="btn_print_sticker">Print sticker</button>
        </form>
      </div>
    </script>

  </head>
  <body>
      
    <div id="top_pane">

      <a href="https://github.com/sudomesh/node-configurator">sudomesh.org node configurator v0.9.1</a>
    </div>

    <div id="left_pane">
      <div id="node_list">
        <p>No nodes connected.</p>
        <!-- nodes go here -->
      </div>
    </div>      
    <div id="right_pane">
      <h2>Node Configurator 0.9.1</h2>
      <p>Wait for a node to show up in the left panel, then click the node to start configuration.</p>
      <p>As you fill out the configuration form, the data is saved client-side in a cookie in case the node gets disconnected mid-configuration. Simply re-boot/re-connect the node and continue configuration.</p>
    </div>
  </body>
</html>
