Package: per-node-config
Version: 0.0.1-HEAD
Depends: libc
Section: net
Status: unknown ok not-installed
Essential: yes
Priority: standard
Maintainer: sudo mesh <info@sudomesh.org>
Architecture: all
Installed-Size: 6245
Description: This package supplies the per-node configuration
 including securely generated ssh keys and assigned IP
 addresses and subnets.
